.contentwrap {
    background-color: #ffffff;
    margin: auto;
    clear: both;
    padding-bottom: 10px;
}
body {
    background-color: #dddddd;
    clear: both;
}
.wrap {
    margin: auto;
    width: 90%;
}
header {
    margin: auto;
    width: 100%;
    clear: both;
}
img {
    float: left;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right: 15px;
}
p {
    margin-right: 20px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5;
    margin-left: 20px;
}
.myname {
    float: left;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px;
    font-family: 'Georgia', Times, serif;
    font-size: 24px;
    clear: both;
}
nav {
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
nav a {
    margin-left: 10px;
    color: #777777; 
}
h2 {
    clear: both;
    overflow: auto;
    color: #4aaaa5;
    margin: 0px 0px 20px 20px;
    padding-top: 20px;
    font-style: bold;
    font-family: 'Georgia', Times, serif;
}
.grey_line {
    background-color: #dddddd;
    height: 2px;
    margin: 20px;
}
.teal_line {
    clear: both;
    background-color: #4aaaa5;
    position: fixed;
    width: 100%;
    height: 5px;
    bottom: 50px;
    left: 0;
}
footer {
    clear: both;
    background-color: #666666;
    bottom: 0;
    left: 0;
    position: fixed;
    color: #dddddd;
    width: 100%;
    height: 50px;
}
h3 {
    font-family: 'Georgia', Times, serif;
    font-size: 8px;
    text-align: center;
    margin-top: 35px;
}
.Hangman_image {
    width: 150px;
    height: 115px;
    float: left;
}
.Hangman_image img {
    width: 100%;
    height: 100%;
    clear: both;
}
.Hangman {
    clear: both;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 20px;
    position: absolute;
    margin-top: 75px;
}
.contentwrap_portfolio {
    background-color: #ffffff;
    height: 500px;
    margin: auto;
    clear: both;
}
.portfolioteal_line {
    clear: both;
    background-color: #4aaaa5;
    position: fixed;
    width: 100%;
    height: 5px;
    bottom: 25px;
    left: 0;
}
.portfolio_footer {
    clear: both;
    background-color: #666666;
    bottom: 0;
    left: 0;
    position: fixed;
    color: #dddddd;
    width: 100%;
    height: 25px;
}
.portfolio_h3 {
    font-family: 'Georgia', Times, serif;
    font-size: 8px;
    text-align: center;
    margin-top: 15px;
}
.portfolio_body {
    background-color: #dddddd;
    margin: auto;
    width: 650px;
    clear: both;
}
.RPG_image {
    width: 150px;
    height: 115px;
    float: left;
    margin-left: 20px;
}
.RPG_image img {
    width: 100%;
    height: 100%;
    clear: both;
}
.RPG {
    clear: both;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 20px;
    position: absolute;
    margin-top: 75px;
}
.Trivia_image {
    width: 150px;
    height: 115px;
    float: left;
    margin-right: 20px;
}
.Trivia_image img {
    width: 100%;
    height: 100%;
    clear: both;
    margin-top: 20px;
}
.Trivia {
    clear: both;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 20px;
    position: absolute;
    margin-top: 95px;
}
.Rutgers_image {
    width: 150px;
    height: 115px;
    float: left;
}
.Rutgers_image img {
    width: 100%;
    height: 100%;
    clear: both;
    margin-top: 20px;
}
.Rutgers {
    clear: both;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 20px;
    position: absolute;
    margin-top: 95px;
}
.RPS_image {
    width: 150px;
    height: 115px;
    float: left;
}
.RPS_image img {
    width: 100%;
    height: 100%;
    clear: both;
    margin-top: 40px;
}
.RPS {
    clear: both;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 20px;
    position: absolute;
    margin-top: 115px;
}
.contentwrap_contact {
    background-color: #ffffff;
    margin: auto;
    clear: both;
    padding-bottom: 15px;
}
.contact_line {
    clear: both;
    background-color: #4aaaa5;
    position: fixed;
    width: 100%;
    height: 5px;
    bottom: 25px;
    left: 0;
}
.contact_footer {
    clear: both;
    background-color: #666666;
    bottom: 0;
    left: 0;
    position: fixed;
    color: #dddddd;
    width: 100%;
    height: 25px;
}
.contact_h3 {
    font-family: 'Georgia', Times, serif;
    font-size: 8px;
    text-align: center;
    margin-top: 15px;
}
form {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
}
label {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
input {
    width: 100%;
    line-height: 1.5;
    margin-bottom: 15px;
}
textarea {
    width: 100%;
    height: 110px;
}
button {
    background-color: #4aaaa5;
    padding: 8px 10px 8px 10px;
    color: white;
    width: 100px;
    font-size: 12px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 15px;
}
.row1 {
    width: 90%;
    height: 115px;
}
.row2 {
    width: 90%;
    height: 115px;
}
@media screen and (max-width: 980px) and (min-width: 769px) {
    .contentwrap {
        width: 700px;
    }
    .contentwrap_portfolio {
        width: 700px;
    }
    .contentwrap_contact {
        width: 700px;
    }
    header {
        width: 700px;
    }
}
@media screen and (max-width: 768px) and (min-width: 700px) {
    .contentwrap {
        width: 640px;
    }
    .wrap {
        width: 640px;
    }
    header {
        width: 640px;
    }
}
@media screen and (max-width: 700px) and (min-width: 0px) {
    .contentwrap {
        width: 600px;
    }
    .wrap {
        width: 600px;
    }
    header {
        width: 600px;
    }
}
